
.adaptToPage {
  max-width: 95vw;
  max-height: 95vh;
}
.fullImageSize {
}

body {
  background-color: rgb(200, 200, 200);
/*   justify-content: center;
  align-items: center;
 */
}
body.vscode-dark {
  background-color: rgb(0, 0, 0);
}

.loader {
  margin-left: 100px;
  margin-top: 100px;
  position: absolute;

  width: 48px;
  height: 48px;
  border: 5px solid #333;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
