
/* Show a spinner. */
.jpegXlPluginLoader {
    margin-left: 100px;
    margin-top: 100px;
    position: absolute;

    width: 48px;
    height: 48px;
    border: 5px solid #333;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: jpegXlPluginRotation 1s linear infinite;
}

@keyframes jpegXlPluginRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* The user can toggle between full-screen and full-size by clicking the image,
however Obsidian limits the horizontal width, and so this feature is currently
not very useful. */
.jpegXlPluginAdaptToPage {
    max-width: 95vw;
    max-height: 95vh;
}

.jpegXlPluginFullImageSize {
}
